@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans antialiased text-gray-900 bg-white;
    }
}

.section-padding {
    @apply py-20 px-6 md:px-12 lg:px-24;
}